- company  = CompanyDetailsHelper.registered_company
- director = CompanyDetailsHelper.director
%footer
  .footer-copy.legal!="Copyright &copy; #{Time.now.year} #{company[:name]}. " |
    "All rights reserved. #{company[:name]} is a company registered in "      |
    "#{company[:location]} with company number #{company[:number]} and VAT "  |
    "registration number #{company[:vat_registration]}."                      |

  .footer-copy.director-contact
    .contact-detail.name="#{director[:name]},"
    .contact-detail.position="#{director[:title]},"
    = succeed "," do
      %a.contact-detail.email{:href => "mailto:#{director[:email]}"} director[:email]
    %a.contact-detail.github{:href => director[:github_profile]} GitHub Profile

  .footer-copy.business-address
    .contact-detail.company="#{company[:name]},"
    .contact-detail.street="#{company[:address][:street]},"
    .contact-detail.city="#{company[:address][:street]},"
    .contact-detail.county="#{company[:address][:county]},"
    .contact-detail.postcode="#{company[:address][:postcode]},"
    .contact-detail.country=company[:address][:country]
    %a.contact-detail.github{:href => company[:github_profile]} GitHub Organisation
