!!!
%html
  %head
    %meta{:charset => 'UTF-8'}/
    %title Methodic | Software + Research.
    %meta{                                                                          |
        :name => 'description',                                                     |
        :content => 'We provide Ruby and Javascript, full-stack web development ' + |
          'and software consulting in London. We also invest time exploring the ' + |
          'disciplines of data science and machine learning.'}/                     |
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render '/shared/icons'
  %body
    = render '/shared/header'
    = yield
    = render '/shared/footer'
    .background
    .footer-scripts
      = render '/shared/google_analytics'
