!!!
%html
  %head
    %meta{:charset => 'UTF-8'}/
    %title=placeholder_meta_title
    %meta{:name => 'description', :content => placeholder_meta_description}
    %meta{:name => "google-site-verification", :content => GoogleConfigHelper.site_verification_code}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render '/shared/icons'
  %body
    = render '/shared/header'
    = yield
    = render '/shared/footer'
    .background
    .footer-scripts
      = render '/shared/google_analytics'
